@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}
.main{
    background-image: url("images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: relative;
    top: 0;

}

nav{
    max-width: 88vw;
    margin: auto;
    justify-content:space-between;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}

.hero{
     font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0 30px;
}

.hero> :first-child{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2s){
    font-weight:402;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight:400;
    font-size: 20px;
    text-align: center;

}

.sepration{
    height: 7px;
    background-color: rgba(128, 128, 128, 0.308);
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}

.btn-red{
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main input{
    padding: 9px 35px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgb(23, 23, 23, 0.2);
}

.btn-red-sn{
    background-color: red;
    color: white;
}